In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [22]:
path = './data/MDataFiles_Stage1/'
data_dict = {}
for filename in os.listdir('./data/MDataFiles_Stage1')[:-4]:
    data_dict["{}".format(filename[:-4])] = pd.read_csv(str(path + filename))
data_dict.keys()

dict_keys(['MNCAATourneyDetailedResults', 'MNCAATourneyCompactResults', 'MSeasons', 'MRegularSeasonDetailedResults', 'MNCAATourneySlots', 'MGameCities', 'MConferenceTourneyGames', 'Cities', 'MRegularSeasonCompactResults', 'MNCAATourneySeedRoundSlots', 'MSampleSubmissionStage1', 'MTeamConferences', 'MTeamCoaches', 'MMasseyOrdinals', 'Conferences', 'MTeams'])

In [32]:
# data_dict['MTeamConferences'][data_dict['MTeamConferences']['ConfAbbrev'] == 'wac']
data_dict['MTeamConferences'][(data_dict['MTeamConferences']['Season'] == 2021) & (data_dict['MTeamConferences']['ConfAbbrev'] == 'wac')]

       Season  TeamID ConfAbbrev
11637    2021    1152        wac
11695    2021    1213        wac
11785    2021    1308        wac
11843    2021    1370        wac
11883    2021    1410        wac
11903    2021    1430        wac
11934    2021    1465        wac
11938    2021    1469        wac
11939    2021    1470        wac

In [33]:
data_dict['MConferenceTourneyGames'][(data_dict['MConferenceTourneyGames']['Season'] == 2021) & (data_dict['MConferenceTourneyGames']['ConfAbbrev'] == 'wac')]

      Season ConfAbbrev  DayNum  WTeamID  LTeamID
5569    2021        wac     129     1308     1410
5570    2021        wac     129     1370     1465
5571    2021        wac     130     1213     1370
5572    2021        wac     130     1308     1430
5573    2021        wac     131     1213     1308

In [34]:
data_dict['MTeams']

     TeamID      TeamName  FirstD1Season  LastD1Season
0      1101   Abilene Chr           2014          2022
1      1102     Air Force           1985          2022
2      1103         Akron           1985          2022
3      1104       Alabama           1985          2022
4      1105   Alabama A&M           2000          2022
..      ...           ...            ...           ...
367    1468    Bellarmine           2021          2022
368    1469      Dixie St           2021          2022
369    1470   Tarleton St           2021          2022
370    1471  UC San Diego           2021          2022
371    1472  St Thomas MN           2022          2022

[372 rows x 4 columns]