In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
path = './data/MDataFiles_Stage2/'
data_dict = {}
for filename in os.listdir(path):
    try:
        data_dict[filename[:-4]] = pd.read_csv(str(path+filename[:-4]+'.csv'))
    except:
        data_dict["{}".format(filename[:-4])] = pd.read_csv(str(path + filename),sep=";", encoding='cp1252')
data_dict.keys()

dict_keys(['MNCAATourneyDetailedResults', 'MNCAATourneyCompactResults', 'MSeasons', 'MMasseyOrdinals_thruDay128', 'MRegularSeasonDetailedResults', 'MNCAATourneySlots', 'MGameCities', 'MConferenceTourneyGames', 'Cities', 'MRegularSeasonCompactResults', 'MNCAATourneySeedRoundSlots', 'MTeamConferences', 'MSampleSubmissionStage2', 'MTeamCoaches', 'Conferences', 'MTeams', 'MNCAATourneySeeds', 'MSecondaryTourneyTeams', 'MTeamSpellings', 'MSecondaryTourneyCompactResults'])

In [48]:
# data_dict['MTeamConferences'][data_dict['MTeamConferences']['ConfAbbrev'] == 'wac']
data_dict['MTeamConferences'][(data_dict['MTeamConferences']['Season'] == 2021) & (data_dict['MTeamConferences']['ConfAbbrev'] == 'wac')]

       Season  TeamID ConfAbbrev
11637    2021    1152        wac
11695    2021    1213        wac
11785    2021    1308        wac
11843    2021    1370        wac
11883    2021    1410        wac
11903    2021    1430        wac
11934    2021    1465        wac
11938    2021    1469        wac
11939    2021    1470        wac

In [49]:
data_dict['MConferenceTourneyGames'][(data_dict['MConferenceTourneyGames']['Season'] == 2021) & (data_dict['MConferenceTourneyGames']['ConfAbbrev'] == 'wac')]

      Season ConfAbbrev  DayNum  WTeamID  LTeamID
5569    2021        wac     129     1308     1410
5570    2021        wac     129     1370     1465
5571    2021        wac     130     1213     1370
5572    2021        wac     130     1308     1430
5573    2021        wac     131     1213     1308

In [55]:
data_dict['MRegularSeasonDetailedResults']
# data_dict['MNCAATourneySeeds']
# data_dict['MNCAATourneyDetailedResults']

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102027,2022,132,1222,71,1272,53,N,0,25,58,...,10,8,14,9,25,15,15,5,4,19
102028,2022,132,1234,75,1345,66,N,0,26,61,...,20,11,17,17,31,13,17,4,2,22
102029,2022,132,1350,64,1172,62,N,0,22,51,...,27,15,17,4,26,12,9,4,2,16
102030,2022,132,1397,65,1401,50,N,0,22,56,...,19,14,18,10,24,6,12,6,0,14
102031,2022,132,1463,66,1343,64,N,0,24,52,...,30,4,5,5,24,11,10,8,3,13